.discover-panel-results .result {
	display: block;
	background-color: #dda5de;
	padding: 4px;
	margin: 8px auto;
	max-width: 400px;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	border-radius: 6px;
}

.discover-panel-results .result:hover {
	background-color: #e18ee3;
}

.discover-panel-results .result img {
	width: 64px;
	height: 64px;
	border-radius: 6px;
}

.discover-panel-results .result .user-details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	margin-left: 8px;
}

.discover-panel-results .result .user-details p {
	margin: 0;
}